/* SOBRE FULLSCREEN */
.sobre {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #0f172a;
}

/* IMAGEN SOBRE */
.img-sobre {
    width: 90%;
    max-width: 500px;
    cursor: pointer;
    transition: 0.5s;
}

.img-sobre:hover {
    transform: scale(1.05);
}

/* TEXTO SOBRE */
.texto-sobre {
    margin-top: 20px;
    font-size: 16px;
    color: #ccc;
}

/* ANIMACIÓN */
.fade-out {
    animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
        transform: scale(1.1);
    }
}
